doctype html
html(lang='en')
    head
        title LightSwitch
    body
        label.switch
            input(type="checkbox", checked)
            .button
                .light
                .dots
                .characters
                .shine
                .shadow
